.container {
  --top: auto;
  --bottom: auto;

  position: fixed;

  top: var(--top);
  bottom: var(--bottom);
  left: 0;
  right: var(--scrollbar-main-width);

  padding: 0.6rem 1rem;
  overflow: hidden;
  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  gap: 1em;
  z-index: 100;
}

@media (prefers-color-scheme: light) {
  .container {
    --top-transparency: 1;
    --bottom-transparency: 1;

    --bg: var(--color-bg-2-light-rgb);
    --text: var(--color-text-2-light-rgb);

    background: linear-gradient(
      rgba(var(--bg), var(--top-transparency)),
      rgb(var(--bg), var(--bottom-transparency))
    );
    color: rgb(var(--text));
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    --top-transparency: 1;
    --bottom-transparency: 1;

    --bg: var(--color-bg-2-dark-rgb);
    --text: var(--color-text-2-dark-rgb);

    background: linear-gradient(
      rgba(var(--bg), var(--top-transparency)),
      rgb(var(--bg), var(--bottom-transparency))
    );
    color: rgb(var(--text));
  }
}
