.link {
  border-radius: 0.6rem;
  padding: 0.3rem 0.8rem;
  text-decoration: none;
}

.ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.li {
  margin-right: 0.5rem;

  &:last-of-type {
    margin-right: 0;
  }
}

@media (prefers-color-scheme: light) {
  .link {
    background-color: rgb(var(--color-bg-3-light-rgb));
    color: rgb(var(--color-text-1-light-rgb));
  }
}

@media (prefers-color-scheme: dark) {
  .link {
    background-color: rgb(var(--color-bg-3-dark-rgb));
    color: rgb(var(--color-text-1-dark-rgb));
  }
}
